In [1]:
import framework_00

. . . . . Importando dados . . . . .

EXEMPLO: C:\Users\efvs\Documents\Residencia Ednael\Repositórios\data_all.zip
Digite o endereço do arquivo zip no seu pc: C:\Users\efvs\Documents\Residencia Ednael\Repositórios\data_all.zip
. . . . . Rotulando Obras . . . . .
. . . . . Taguiando os dados . . . . .



Estrutura Final dos dados
  Número Licitação Código UG                                        Nome UG  \
0            12018    120630                        BASE AEREA DE DE MANAUS
1            12018    153015   CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG
2            12018    153036  UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI
3            12018    160141            COMISSAO REGIONAL DE OBRAS DA 9ª RM
4            12018    200130    SUPERINTENDENCIA REG. POL. RODV. FEDERAL-SE

  Código Modalidade Compra           Modalidade Compra    Número Processo  \
0                        3                Concorrência  67290015424201435
1                        3                Concorrência  23062002056/18-26
2                      -99  Pregão - Registro de Preço  23086000649201861
3                        3                Concorrência  65328001557201858
4                        3                Concorrência  08672001011/2017-

                                              Objeto  \
0  Objeto: Contratação de empresa de engenharia e...
1  Objeto: A presente Licitação tem como objeto a...
2  Objeto: Pregão Eletrônico -  Sistema de Regist...
3  Objeto: OBRA DE CONSTRUÇÃO DO PAVILHÃO COMPANH...
4  Objeto: Contratação de empresa de engenharia p...

               Situação Licitação Código Órgão Superior  \
0  Evento de Resultado de Julgame                 52000
1  Evento de Resultado de Julgame                 26000
2   Evento de Suspensão Publicado                 26000
3  Evento de Resultado de Julgame                 52000
4   Evento de Alteração Publicado                 30000

                         Nome Órgão Superior Código Órgão  \
0                       Ministério da Defesa        52111
1                     Ministério da Educação        26257
2                     Ministério da Educação        26255
3                       Ministério da Defesa        52121
4  Ministério da Justiça e Segurança Pública        30802

                                      Nome Órgão       Município        data  \
0                         Comando da Aeronáutica          MANAUS  19/07/2018
1  Centro Federal de Educação Tecnológica de Min  BELO HORIZONTE  19/07/2018
2  Universidade Federal dos Vales do Jequitinhon      DIAMANTINA  12/07/2018
3                            Comando do Exército    CAMPO GRANDE  23/07/2018
4     Departamento de Polícia Rodoviária Federal         ARACAJU  18/07/2018

  Data Abertura       Total Obras Tag
0           NaN  1063307.91  Obra   0
1           NaN   689750.64  Obra   0
2    19/06/2018      714.57  Obra   0
3           NaN  3241361.87  Obra   0
4           NaN   3222277.6  Obra   0



Distribuição percentual da legalidade das licitações
1    0.800392
0    0.199608
Name: Tag, dtype: float64

In [3]:
from framework_00 import df as df

In [5]:
import pandas as pd

In [9]:
cidades_br = pd.read_csv(r'C:\Users\efvs\Documents\Residencia Ednael\data\Lista_Municípios_com_IBGE_Brasil_Versao_CSV.csv',sep=';',encoding='latin1')

In [61]:
df2 = pd.merge(df, cidades_br, how = 'inner', on = ('Município'))

# Indice de fraude por estado

In [73]:
lat = {
    'AC': [ -8.77, -70.55]
  , 'AL': [ -9.71, -35.73]
  , 'AM': [ -3.07, -61.66]
  , 'AP': [  1.41, -51.77]
  , 'BA': [-12.96, -38.51]
  , 'CE': [ -3.71, -38.54]
  , 'DF': [-15.83, -47.86]
  , 'ES': [-19.19, -40.34]
  , 'GO': [-16.64, -49.31]
  , 'MA': [ -2.55, -44.30]
  , 'MT': [-12.64, -55.42]
  , 'MS': [-20.51, -54.54]
  , 'MG': [-18.10, -44.38]
  , 'PA': [ -5.53, -52.29]
  , 'PB': [ -7.06, -35.55]
  , 'PR': [-24.89, -51.55]
  , 'PE': [ -8.28, -35.07]
  , 'PI': [ -8.28, -43.68]
  , 'RJ': [-22.84, -43.15]
  , 'RN': [ -5.22, -36.52]
  , 'RO': [-11.22, -62.80]
  , 'RS': [-30.01, -51.22]
  , 'RR': [  1.89, -61.22]
  , 'SC': [-27.33, -49.44]
  , 'SE': [-10.90, -37.07]
  , 'SP': [-23.55, -46.64]
  , 'TO': [-10.25, -48.25]
}

lat = pd.DataFrame(lat).transpose()

`Indice de Fraude por estado`

In [116]:
df2['data']=pd.to_datetime(df2['data'])

In [126]:
'''def indice_fraude_estado(dados,data_inicio,data_final):

    print("Para o perído de {} à {}".format(data_inicio,data_final))
    print("________________")
    print((dados['UF'][(dados['Tag']==0) & (dados['data']>=data_inicio) & (dados['data']<=data_final)].value_counts()/dados['UF'].value_counts()).sort_values(ascending=False))
    print("________________")'''

In [127]:
indice_fraude_estado(df2,'2018','2020')

Para o perído de 2018 à 2020
________________
AP    0.369231
RR    0.184950
PB    0.166201
PI    0.159572
AL    0.129800
SE    0.127553
MT    0.126355
MS    0.123057
RN    0.122396
TO    0.121932
BA    0.115193
RO    0.113281
PA    0.099193
AM    0.098552
CE    0.094750
PR    0.090173
AC    0.088552
PE    0.087954
GO    0.087621
MG    0.087299
SC    0.086512
SP    0.082189
MA    0.080292
RJ    0.078699
RS    0.074907
ES    0.068096
Name: UF, dtype: float64
________________

`Estados com maior número de fraudes`

In [92]:
(df2['UF'][df2['Tag']==0].value_counts()).sort_values(ascending=False)

RJ    14028
AC     7353
RS     6677
MG     6397
PR     4570
RN     3564
PE     3122
BA     3117
MS     2394
AM     2302
CE     2000
AL     1693
PB     1688
SP     1610
PI     1386
RO      973
MT      866
SE      825
RR      796
TO      582
SC      582
ES      526
GO      520
PA      389
MA      212
AP       30
Name: UF, dtype: int64

In [2]:
import pandas as pd
ll = pd.read_csv('../data/fraudes.csv')

In [4]:
pd.options.display.float_format = '{:,.4f}'.format
ll

,Unnamed: 0,{%} de Ilegalidades,Total de Licitações,Total de Ilegais,Valor Licitado,Valor Ilegal,{%} Valor Ilegal
0,GO,0.6958,240,167,"32,453,700.0900","19,787,980.3600",0.6097
1,MT,0.6948,403,280,"926,836,304.3100","29,669,353.1100",0.0320
2,PB,0.6783,1057,717,"510,851,616.5100","71,552,023.5800",0.1401
3,RN,0.6671,1694,1130,"590,802,355.6000","126,281,858.8900",0.2137
4,RR,0.6528,504,329,"401,105,658.6100","54,685,881.2300",0.1363
5,ES,0.5911,291,172,"48,566,583.1400","11,894,638.8600",0.2449
6,BA,0.5860,1785,1046,"1,656,192,822.2000","271,957,835.4400",0.1642
7,RO,0.5839,644,376,"571,148,597.4900","21,871,528.3600",0.0383
8,AP,0.5750,40,23,"2,358,454.8200","1,414,054.0000",0.5996
9,MS,0.5657,1483,839,"749,185,416.0200","59,364,134.2800",0.0792
10,RS,0.5538,3696,2047,"2,509,244,565.0200","194,335,705.2700",0.0774
11,PI,0.5534,842,466,"905,343,347.8000","56,098,574.0100",0.0620
12,AM,0.5327,1254,668,"1,725,935,402.4000","78,383,229.2400",0.0454
13,MA,0.5290,138,73,"12,095,345.1700","5,512,819.7300",0.4558
14,SC,0.5192,391,203,"104,812,356.5000","16,086,559.7300",0.1535
15,AL,0.5119,1047,536,"789,432,939.7300","48,248,474.3000",0.0611
16,TO,0.5016,305,153,"471,920,972.7500","18,425,586.4100",0.0390
17,SE,0.4864,627,305,"22,736,188,562.4000","40,503,017.4300",0.0018
18,PR,0.4778,3022,1444,"1,332,462,250.2800","115,748,160.1900",0.0869
19,MG,0.4239,4393,1862,"1,913,880,595.2000","160,055,761.3400",0.0836
20,PE,0.4036,2641,1066,"3,249,519,325.0400","136,068,729.2800",0.0419
21,CE,0.3870,1504,582,"1,816,121,013.8900","59,523,002.4300",0.0328
22,RJ,0.3296,12780,4212,"9,458,140,620.6200","654,575,161.9200",0.0692
23,AC,0.3011,6148,1851,"1,182,798,788,321.4700","443,493,664.4100",0.0004
24,PA,0.2876,532,153,"114,414,666.8200","10,035,538.6200",0.0877
25,SP,0.2711,1863,505,"173,454,988.4800","45,662,767.9000",0.2633